@page "/"

<body>
<nav class="bg-tertiary p-2 w-full grid grid-cols-3 align-baseline border border-hidden border-b-black">
    <div class="">
        <a href="#" class="mx-auto">My books</a>
    </div>

    <a href="#" class="text-3xl text-center font-bold text-black">Goodshmeads</a>

    <div class="">
        <a href="#" class="mx-auto">Log In</a>
        <a href="#" class="mx-auto">Create Account</a>
    </div>
</nav>
</body>