@page "/"

<body>

<nav class="navbar nav-underline p-3 bg-primary">
  <div class="">
    <a href="#" class="nav-link mx-auto text-purple-500 text-white fw-bold">My books</a>
  </div>

  <a href="#" class="nav-link active text-white fs-3">Goodshmeads</a>

  <div class="d-flex gap-3">
    <a href="#" class="nav-link mx-auto text-white fw-bold">Log In</a>
    <a href="#" class="nav-link mx-auto text-white fw-bold">Create Account</a>
  </div>
</nav>

</body>